* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.App-header {
  background-color: #152d5c;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 2px 2px 2px gray;
}

ul.main_menu {
  display: flex;
  background-color: #343461;
  color: white;
  list-style: none;
}

ul.main_menu a {
  display: inline-block;
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  margin-left: 20px;
}

ul.main_menu a:hover {
  background-color: lightskyblue;
}

section.main_section {
  flex: 1;
}

table.bbsMain {
  width: 80%;
  margin: 5px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table.bbsMain tr:nth-of-type(odd) {
  background-color: #ddd;
}

table.bbsMain tr:nth-of-type(even) {
  background-color: #eee;
}

table.bbsMain th,
table.bbsMain td {
  padding: 8px;
  cursor: pointer;
}

table.bbsMain tr:last-child {
  font-weight: bold;
  color: cornflowerblue;
}

table.bbsMain tr.comp {
  text-decoration-line: line-through;
}

div.bbsWrite {
  width: 90%;
  margin: 10px auto;
}

div.bbsWrite input {
  display: inline-block;
  width: 80%;
  padding: 10px;
  margin: 5px auto;
  border: 2px double #152d5c;
  border-radius: 5px;
}

div.bbsWrite button {
  background-color: #1155ff;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
  text-shadow: black;
  cursor: pointer;
  outline: none;
  border: none;
  width: 80%;
}

div.bbsWrite button:hover {
  box-shadow: #fff;
  background-color: green;
}

div.bbsWrite input:focus {
  background-color: #eee;
}

div.detail {
  display: flex;
  list-style: none;
  justify-content: center;
  flex: 1;
}

div.detail div {
  width: 40%;
  background-color: #eee;
  margin-left: 10px;
}

div.detail li {
  border-bottom: 2px solid #aaa;
}
