div.about label,
div.about span {
  display: inline-block;
  width: 40%;
  padding: 10px;
}

div.about label {
  text-align: right;
  background-color: lightslategrey;
}

div.about span {
  text-align: left;
  background-color: lightsteelblue;
}

div.about ul {
  list-style: none;
}
