* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.App-header {
  background-color: #152d5c;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 2px 2px 2px gray;
}

ul.main_menu {
  display: flex;
  background-color: #343461;
  color: white;
  list-style: none;
}

ul.main_menu a {
  display: inline-block;
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  margin-left: 20px;
}

ul.main_menu a:hover {
  background-color: lightskyblue;
}

section.main_section {
  flex: 1;
}

table.bbsMain {
  width: 80%;
  margin: 5px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table.bbsMain tr:nth-of-type(odd) {
  background-color: #ddd;
}

table.bbsMain tr:nth-of-type(even) {
  background-color: #eee;
}

table.bbsMain th,
table.bbsMain td {
  padding: 8px;
  cursor: pointer;
}

table.bbsMain tr.comp {
  text-decoration-line: line-through;
}

div.bbsWrite {
  width: 90%;
  margin: 10px auto;
}

div.bbsWrite input {
  display: inline-block;
  width: 80%;
  padding: 10px;
  margin: 5px auto;
  border: 2px double #152d5c;
  border-radius: 5px;
}

div.bbsWrite button {
  background-color: #1155ff;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
  text-shadow: black;
  cursor: pointer;
  outline: none;
  border: none;
  width: 80%;
}

div.bbsWrite input:focus {
  background-color: #eee;
}

button:hover {
  box-shadow: #fff;
  background-color: green;
}

div.bbs_detail {
  width: 90vw;
  margin: 10px auto;
}

div.bbs_detail label,
div.bbs_detail span {
  display: inline-block;
  margin: 0;
  padding: 8px;
}

div.bbs_detail label {
  width: 30%;
  background-color: #ddd;
  text-align: right;
  color: blue;
  font-weight: bold;
}

div.bbs_detail span {
  width: 60%;
  background-color: #eee;
  text-align: left;
}

div.bbs_btn_box {
  width: 90%;
  text-align: right;
  padding: 8px;
  margin: 5px auto;
}

div.bbs_btn_box button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

div.bbs_btn_box button:nth-of-type(1) {
  background-color: teal;
}

div.bbs_btn_box button:nth-of-type(2) {
  background-color: rgb(0, 128, 64);
}

div.bbs_btn_box button:nth-of-type(3) {
  background-color: rgb(128, 0, 79);
}
